@use '../partials/variables' as *;

@mixin button($color: $button, $dark-font: true) {
    $up: $color;
    $down: darken($color, 10);
    $font: if($dark-font, darken($color, 70), lighten($color, 50));
    
    border: 4px outset darken($up, 4);
    border-radius: 8px;
    background: $up;
    color: $font;
    transition: border 0.02s;
    transition: background-color 0.02s;
    &:is(&--checked, &--down, &:active):not([data-status="disabled"]) {
        border: 4px inset darken($down, 4);
        background-color: $down;
    }
}