// colors
$white: #F4F0ED;
$gray:  #C0B7B5;
$tan:   #F2EBE5;
$blue:  #647296;
$pink:  #9F496E;
$purple:#2B262D;
$yellow:#F6D8AE;
$gold:  #F9C271;
$black: #18181A;

$button: #F2EBE5;
$correct: #b3ffd7;
$incorrect: #ffc6c6;
$red: #e13434;

// fonts
@font-face {
    font-family: 'lexend-bold';
    src: url('../../assets/fonts/lexend/static/Lexend-Bold.ttf');
}
$header: 'lexend-bold', sans-serif ;
@font-face {
    font-family: 'lexend';
    src: url('../../assets/fonts/lexend/static/Lexend-Medium.ttf');
}
$normal: 'lexend', sans-serif;
@font-face {
    font-family: 'lexend-light';
    src: url('../../assets/fonts/lexend/static/Lexend-Light.ttf');
}
$subtitle: 'lexend-light', sans-serif;

// values
$icon-size: 4em;

// maps
$radio-btn-backgrounds: (
    "arts_and_literature":  "../assets/icons/category/art.png",
    "film_and_tv":          "../assets/icons/category/film.png",
    "food_and_drink":       "../assets/icons/category/food.png",
    "general_knowledge":    "../assets/icons/category/knowledge.png",
    "geography":            "../assets/icons/category/geography.png",
    "history":              "../assets/icons/category/history.png",
    "music":                "../assets/icons/category/music.png",
    "science":              "../assets/icons/category/science.png",
    "society_and_culture":  "../assets/icons/category/culture.png",
    "sport_and_leisure":    "../assets/icons/category/sport.png",
    "easy":                 "../assets/icons/difficulty/easy.png",
    "medium":               "../assets/icons/difficulty/medium.png",
    "hard":                 "../assets/icons/difficulty/hard.png"
)