@use './partials/breakpoints' as *
@use './partials/mixins' as *
@use './partials/variables' as *
@use './partials/debug' as *

*, *::before, *::after
    box-sizing: border-box
    margin: 0
html
    font-size: 25px
    font-family: $normal
    background: $primary-light

.game-box
    // @include debug(black)
    border-radius: 12px
    width: 90%
    max-width: 600px
    // padding: 1em
    margin: 1em auto
    background: $primary-mid
.container
    margin: 1em
    // @include debug(black)
    &--top
        margin-bottom: 0
    &--bottom
        margin-top: 0
img
    max-width: 100%
        
h1, h2, h3
    font-family: $header
    text-align: center
.subtitle
    font-family: $subtitle
    text-transform: capitalize
    text-align: center
.btn
    font: 0.8em $normal
    padding: 0.4em 1em
    display: block
    @include button
.radio-btn
    font-size: 0.5rem
    // @include debug(magenta)
    width: 6em
    margin: 0.4em
    &__button
        // @include debug(red)
        // background: 
    &__label
        // @include debug(orange)
        width: fit-content
        margin: auto
        @include button
    &__radio
        // @include debug(pink)
        display: none
    &__icon
        // @include debug(green)
        $icon-size: 4em
        height: $icon-size
        width: $icon-size
        background-position:  center
        background-size: ($icon-size * 0.7) ($icon-size * 0.7)
        background-repeat: no-repeat
        @each $category, $img in $radio-btn-backgrounds
            &[data-img="#{$category}"]
                background-image: url($img)
    &__subtitle
        // @include debug(blue)
        max-width: 100%


.options
    &__field
        // @include debug(black)
        padding: 0.4em
    &__radios
        // @include debug(gray)
        flex-wrap: wrap
        justify-content: space-around
        margin: auto
        &--category
            max-width: 500px
        &--difficulty
            max-width: 300px
    &__radio
        // @include debug(purple)
    &__count
        // @include debug(purple)
        font-size: 0.8rem
        justify-content: center
    &__counter
        font: 1em $subtitle
        width: 3em
        margin: 0 0.5em
        text-align: center
        &:focus
            outline: none
    &__step
        font: 1em $subtitle
        @include button

    &__submit
        margin: auto

.question
    // @include debug(black)
    &__progress
        -webkit-appearance: none
        appearance: none
        width: 100%
        height: 0.8em
        border: 2px inset $primary-mid
        // scale: 109% 100%
        &::-webkit-progress-bar
            background-color: $primary-light
        &::-webkit-progress-value
            background-color: blue
            border-top-right-radius: 8px
            border-bottom-right-radius: 8px
        
    &__status
        justify-content: space-between
    &__number, &__score
    &__prompt
        // @include debug(red)
    &__choices
        // @include debug(green)
        flex-wrap: wrap
        
    &__choice
        // @include debug(yellow)
        @include button
        width: 100%
        // margin: 1em
        &--correct
            @include button($color: $correct-light)
        &--incorrect
            @include button($color: $incorrect-light)

        @include sm
            width: 50%
    &__reset
        @include button($color: red)
        color: white
    &__next

.reset
    background: $primary-light
    padding: 1em
    &__buttons
        justify-content: center
        margin: auto
        flex-direction: column
        @include sm
            flex-direction: row
    &__reset
        @include button($color: red)
        color: white
    
.results

.grid
.flex
    display: flex

@include sm
    .row
        display: flex

